* {

  font-family: 'Poltawski Nowy';
}

/* #root {
  background-color: #6174df;
  background-image: linear-gradient(43deg, #6174df 0%, #ce5fc7 46%, #FFCC70 100%);
  min-height: 100%;

} */

#root {
  background-color: #6174df;
  background-image: url("./img/sticker.jpg"); /* Reemplaza "ruta/a/la/imagen.jpg" con la ruta de la imagen en tu carpeta "img/src" */
  background-position:center; /* Centra la imagen dentro del contenedor */
  background-size: contain;
  min-height: 100%;
}


.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo-loader {
  width: 200px;
  /* Ajusta el ancho del logo según tus necesidades */
  animation: scale 1.5s ease-in-out infinite;
  border-radius: 2rem;
  /* Aplica la animación de escalado */
}

@keyframes scale {

  0%,
  100% {
    transform: scale(1);
    /* Escala inicial y final */
  }

  50% {
    transform: scale(1.2);
    /* Escala máxima */
  }
}

/* CSS DE LA LISTA DE PRODUCTO */

.product-list {
  border-radius: 60%;
}

/* CSS DE LA CARD DE PRODUCTO */
.custom-button {
  --borderWidth: 2 !important;
  --buttonColor: black !important;
  --bg: hsl(0, 0%, 5%) !important;
  --backdrop: transparent !important;
  --fontSize: 1 !important;
  --horizontalPadding: 16 !important;
  --verticalPadding: 8 !important;
  background: pink !important;
  border: calc(var(--borderWidth) * 1px) solid var(--buttonColor) !important;
  text-align: center !important;
  line-height: 24px !important;
  color: var(--textColor, var(--buttonColor)) !important;
  cursor: pointer !important;
  font-size: calc(var(--fontSize) * 1rem) !important;
  font-weight: bold !important;
  font-family: sans-serif !important;
  outline: transparent !important;
  padding: calc(var(--verticalPadding) * 1px) calc(var(--horizontalPadding) * 1px) !important;
  text-decoration: none !important;
  height: 40px !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100px !important;
  transition: transform 0.2s !important;
  transform: translate(0, calc(var(--y, 0) * 1%)) scale(var(--scale, 1)) !important;
}

.custom-button:hover {
  --y: -5 !important;
  --scale: 1.05 !important;

}

.custom-button:active {
  --y: 0 !important;
  --scale: 0.95 !important;
}

.custom-button span {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  clip-path: var(--clip) !important;
  -webkit-clip-path: var(--clip) !important;
  z-index: 1 !important;
}

.custom-button span:nth-of-type(1):hover,
.custom-button span:nth-of-type(2):hover,
.custom-button span:nth-of-type(3):hover,
.custom-button span:nth-of-type(4):hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
  z-index: 2 !important;
}

.custom-button span:nth-of-type(1):hover~b:nth-of-type(1),
.custom-button span:nth-of-type(2):hover~b:nth-of-type(2),
.custom-button span:nth-of-type(3):hover~b:nth-of-type(3),
.custom-button span:nth-of-type(4):hover~b:nth-of-type(4) {
  --clip: inset(0 0 0 0) !important;
}

.custom-button span:nth-of-type(1) {
  --clip: polygon(0 0, 100% 0, 50% 50%, 50% 50%) !important;
}

.custom-button span:nth-of-type(2) {
  --clip: polygon(100% 0, 100% 100%, 50% 50%) !important;
}

.custom-button span:nth-of-type(3) {
  --clip: polygon(0 100%, 100% 100%, 50% 50%) !important;
}

.custom-button span:nth-of-type(4) {
  --clip: polygon(0 0, 0 100%, 50% 50%) !important;
}

.custom-button b {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  clip-path: var(--clip) !important;
  -webkit-clip-path: var(--clip) !important;
  background: var(--slideColor, var(--buttonColor)) !important;
  border: calc(var(--borderWidth) * 1px) solid var(--buttonColor) !important;
  font-weight: bold !important;
  color: var(--bg, #fafafa) !important;
  padding: calc(var(--verticalPadding) * 1px) calc(var(--horizontalPadding) * 1px) !important;
  transition: clip-path 0.25s ease !important;
  border-radius: 9999px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.custom-button b:nth-of-type(1) {
  --clip: inset(0 0 100% 0) !important;
}

.custom-button b:nth-of-type(2) {
  --clip: inset(0 0 0 100%) !important;
}

.custom-button b:nth-of-type(3) {
  --clip: inset(100% 0 0 0) !important;
}

.custom-button b:nth-of-type(4) {
  --clip: inset(0 100% 0 0) !important;
}

.custom-button--secondary {
  --buttonColor: hsl(0, 0%, 100%) !important;
  --bg: hsl(0, 0%, 5%) !important;
}

.custom-button--filled {
  --backdrop: red !important;
  --slideColor: hsl(0, 0%, 5%) !important;
  --textColor: hsl(0, 0%, 5%) !important;
  --bg: red !important;
}

.container {
  width: 1200px !important;
  padding: 0 !important;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 992px) and (max-width: 1439px) {
  .container {
    max-width: 1279px !important;
    padding: 0 !important;
    margin: 0 80px !important;
    width: auto !important;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 959px !important;
    margin: 0 16px !important;
    padding: 0 !important;
    width: auto !important;
  }
}

.product-list-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 30px;
}

@media screen and (max-width: 991px) {
  .product-list-container {
    grid-template-columns: 1fr;
  }
}

.container-title {
  text-align: center;
  padding: 0 !important;
  margin-bottom: 40px;
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  line-height: 60px;
}
.card-body {
  height: 650px; /* Ajusta la altura según tus necesidades */
}

.card-image {
  width: 400px;
  height: 350px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

/* Media query para iPad */
@media (max-width: 1024px) {
  .card-image {
    width: 300px;
    height: 250px;
  }
}

/* Media query para dispositivos móviles */
@media (max-width: 767px) {
  .card-image {
    width: 250px;
    height: 200px;
  }
}


.ProductCard {
  max-width: 550px;
  border: 0;
  width: 100%;
  margin-inline: auto;
}

.container-card {
  position: relative;
  margin: 10px;
  border: 2px solid transparent;
  background-image: linear-gradient(135deg, #FF94B4 0%, #FFD291 50%, #96CFFF 100%);
  background-clip: padding-box;
  border-radius: 45px;
  padding: 40px;
}

.container-card img {
  margin-bottom: 32px;
}

.bg-green-box,
.bg-white-box,
.bg-yellow-box,
.bg-blue-box {
  position: relative;
}

.bg-green-box::after,
.bg-white-box::after,
.bg-yellow-box::after,
.bg-blue-box::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: -1;
  border-radius: 45px;
}

.bg-green-box::after {
  background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
}

.bg-white-box::after {
  background: linear-gradient(71deg, #121013, #b0afb0, #121013);
}

.bg-yellow-box::after {
  background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
}

.bg-blue-box::after {
  background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
}

.card-title {
  font-weight: 600;
  color: black;
  letter-spacing: -0.02rem;
  line-height: 40px;
  font-style: normal;
  font-size: 28px;
  padding-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

.card-title-admin {
  font-weight: 600;
  color: black;
  letter-spacing: -0.02rem;
  line-height: 40px;
  font-style: normal;
  font-size: 28px;
  padding-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  
  /* Centrar horizontalmente */
  margin-left: auto;
  margin-right: auto;
  max-width: 100%; /* Ajusta el porcentaje según tus necesidades */
  display: inline-block;
  word-wrap: break-word;
}

  


.card-description {
  height: 200px;
  font-weight: 600;
  line-height: 32px;
  color: rgb(0, 0, 0);
  font-size: 17px;
  max-width: 470px;
  /* background: white; */
  padding: 8px 16px;
  /* border-radius: 8px; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 1); */

}

@media (max-width: 991px) {
  .card-body {
    height: max-content;
  }
  .card-description {
    height: max-content;
  }
}

.card-body-admin{
  height: max-content;
}

/* CSS DEL NAVBAR */

.logo {
  width: 80px;
  /* Ajusta el ancho del logo según tus necesidades */
  height: auto;
  /* Permite que la altura se ajuste automáticamente para mantener la proporción */
  border-radius: 20%;
  margin-right: 30px;
}

.custom-navbar {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(12, 10, 14, 0.9), rgba(12, 10, 14, 0.5));
}

.custom-nav-link{
  color: white !important;
}

.custom-nav-link:hover{
  color: orange !important;
}

.custom-navbar .nav-link.active {
  color: orange !important; /* Color del texto del enlace activo */
  /* Otros estilos adicionales que desees aplicar al enlace activo */
}


.custom-hover-mi-recibo:hover button {
  color: white;
  -webkit-text-stroke-width: 0px;
    background-color: #4158D0;
    border: 0px;
}

.custom-hover-camarero:hover button {
  color: white !important;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: #4158D0;
}

.custom-hover-camarero:hover .bell-icon {
  animation: tintinear 0.5s infinite;
}

@keyframes tintinear {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(35deg);
  }

  100% {
    transform: rotate(0);
  }
}

/* .nav-link.active {
  color: #f30000 ;

} */

/* .navbar-brand.active {
  color: yellow !important;

} */

.navbar-toggler {
  background-color: #FFCC70;

}

#responsive-navbar-nav{
  color: white !important;
}



/* CSS DEL CARRITO*/


.product-container {
  display: flex;
  align-items: center;
}

.product-image {
  width: 60px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: 60px;
  margin-right: 10px; /* Espacio entre la imagen y el texto del producto */
}

.product-container p {
  margin-bottom: 0;
}

.card-body li {
  list-style-type: none; /* Quita la viñeta de la lista */
  margin-top: 10px; /* Ajusta el margen superior según sea necesario */
}

.botones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.botones>.btn {
  width: calc(50% - 3px);
  margin: 3px;
}

@media (max-width: 600px) {
  .botones>.btn {
    width: 100%;
    margin: 3px 0;
  }
}

.custom-cart {
  right: 0;
}

.Body-Carrito {
  height: 100%;
}

.card-body li {
  margin-top: 5px;
}


.Card-Carrito {
  background-color: #ffff;
  border: 2px solid black;

}

.body-body-carrito {
  height: max-content;
  background-color: white;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;

}

.text-carrito-header {

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
/* CSS DE HOME  */





/* CSS DEL FOOTER */

.footer {

  bottom: 0;
  position: relative;
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  padding: 10px;
  background-image: linear-gradient(to top, rgba(12, 10, 14, 0.9), rgba(12, 10, 14, 0.5));
}

.container-footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2px;
}

.social-icons {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 10px;
  list-style: none;
  justify-content: flex-end;
}

.social-icons li {
  margin: 0;
  padding: 0;
}

.social-icons li:first-child {
  margin-left: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons a {
  color: white;
  font-size: 24px;
}

.social-icons a:hover {
  color: orange;
}



/* CSS CARD ADMIN */

.admin {
  height: 100%;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.fondo-mesa-card {
  height: 100%;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-decoration: none;
  color: #333;
}

.btn-admin {
  background-color: pink !important;
  color: black !important;
  border: 1px solid black !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
  height: 2rem;
  width: 50%;
}

.btn-admin:hover {
  background-color: rgb(191, 156, 252) !important;
}

/* CSS SWEETALERT2 */

/* Estilos generales para todos los SweetAlerts */
.swal2-container {
  font-family: inherit;
  font-size: 16px;
}

/* Estilos específicos para dispositivos móviles */
/* Estilos generales para todos los SweetAlerts */
.swal2-container {
  font-family: inherit;
  font-size: 16px;
}

/* Estilos específicos para dispositivos móviles */
/* Estilos generales para todos los SweetAlerts */
.swal2-container {
  font-family: inherit;
  font-size: 16px;
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 767px) {
  .swal2-popup {
    width: 80%;
    max-width: 300px;
    overflow-x: hidden; /* Evita la barra de desplazamiento horizontal */
  }

  .swal2-title {
    font-size: 16px;
  }

  .swal2-content {
    font-size: 14px;
  }

  .swal2-input-cif {
    width: 220px !important;
    margin-top: 10px;
  }
}

/* Estilos específicos para tabletas y dispositivos con pantalla más grande */
@media (min-width: 768px) {
  .swal2-popup {
    width: 60%;
    max-width: 500px;
  }

  .swal2-title {
    font-size: 24px;
  }

  .swal2-content {
    font-size: 16px;
  }

  .swal2-input {
    width: 80%;
  }
}


